data/nodered/.flows.json.backup
[
    {
        "id": "2630139d768446f5",
        "type": "tab",
        "label": "Digital Twin",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b24832b4e999b765",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2edd192eba95927",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.27.0.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6e4306a6baef1e6a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "Temp",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f7b70e60d0a652f2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9b09be91128b1f9a",
        "type": "ui_group",
        "name": "Default",
        "tab": "6e4306a6baef1e6a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1de2a058493f170a",
        "type": "inject",
        "z": "2630139d768446f5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "6a1f13a2feaa47c1"
            ]
        ]
    },
    {
        "id": "6a1f13a2feaa47c1",
        "type": "random",
        "z": "2630139d768446f5",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "18ce77df3be5208d"
            ]
        ]
    },
    {
        "id": "18ce77df3be5208d",
        "type": "template",
        "z": "2630139d768446f5",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"temperature\": {{payload}},\n    \"humidity\": {{payload}},\n    \"voltage\": 2.964,\n    \"battery\": 84,\n    \"location\": \"bedroomSpare\"\n}",
        "output": "str",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "dedfbd7d00e5e525"
            ]
        ]
    },
    {
        "id": "dedfbd7d00e5e525",
        "type": "json",
        "z": "2630139d768446f5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 300,
        "wires": [
            [
                "6183493056a0b27e"
            ]
        ]
    },
    {
        "id": "6183493056a0b27e",
        "type": "mqtt out",
        "z": "2630139d768446f5",
        "name": "",
        "topic": "sensor/digitaltwin/temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c2edd192eba95927",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "a9985109a3f39eec",
        "type": "mqtt in",
        "z": "b24832b4e999b765",
        "name": "",
        "topic": "sensor/digitaltwin/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c2edd192eba95927",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "074d29f27e7285ac",
                "e34ffcd304836904",
                "f262fe36acd93737"
            ]
        ]
    },
    {
        "id": "e34ffcd304836904",
        "type": "debug",
        "z": "b24832b4e999b765",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "074d29f27e7285ac",
        "type": "ui_gauge",
        "z": "b24832b4e999b765",
        "name": "",
        "group": "9b09be91128b1f9a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload.temperature}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "f262fe36acd93737",
        "type": "ui_chart",
        "z": "b24832b4e999b765",
        "name": "",
        "group": "9b09be91128b1f9a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 300,
        "wires": [
            []
        ]
    }
]